@charset "utf-8";
#userBox{
    display: none;
}
#login-section{}
#login-section .loginwBox{
    width: 500px;
    margin: 0 auto;
}
#login-section .loginwBox h2{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin: 70px 0 50px;
}
#login-section .loginwBox #login-sec{}
#login-section .loginwBox #login-sec #tabMenu{
    height: 50px;
    margin-bottom: 30px;
}
#login-section .loginwBox #login-sec #tabMenu a{
    display: block;
    float: left;
    width: 250px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #6b8025;
}
#login-section .loginwBox #login-sec #tabMenu a p{
    font-size: 20px;
    font-weight: 800;
    margin-top: 12px;
}
#login-section .loginwBox #login-sec #tabMenu a.login-tabBtn{
    border-bottom: none;
}
#login-section .loginwBox #login-sec #tabMenu a.nonmember-tabBtn{
    border-top: 2px solid #f0f0f0;
    border-right: 2px solid #f0f0f0;
    border-left: none;
}
#login-section .loginwBox #login-sec #inputBox{
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
}
#login-section .loginwBox #login-sec input{
    margin-left: 10px;
    margin-top: 4px;
    width: 470px;
    height: 40px;
    font-size: 16px;
    border: none;
}

/* ------------------------------------------------------------------------ */

#login-section .loginwBox #login-sec #userService{
    margin-bottom: 20px;
}
#login-section .loginwBox #login-sec #userService label{
    position: relative;
}
#login-section .loginwBox #login-sec #userService input{
    width: 18px;
    height: 18px;
    margin: 0;
}
#login-section .loginwBox #login-sec #userService p{
    position: absolute;
    display: inline-block;
    width: 77px;
    margin-left: 10px;
}
#login-section .loginwBox #login-sec #userService ul{
    float: right;
}
#login-section .loginwBox #login-sec #userService ul li{
    position: relative;
    display: inline-block;
    margin-left: 12px;
}
#login-section .loginwBox #login-sec #userService ul li:first-child:after{
    position: absolute;
    width: 1px;
    height: 16px;
    top: 1px;
    left: 85px;
    background: #c8c8c8;
    content: "";
}
#login-section .loginwBox #login-sec #userService ul li a{}
#login-section .loginwBox #login-sec button{
    width: 500px;
    height: 50px;
    background: #6b8025;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
}

/* ------------------------------------------------------------------------ */

#login-section .loginwBox #apiLogin{
    text-align: center;
}
#login-section .loginwBox #apiLogin a{
    margin: 0 10px;
}

/* ------------------------------------------------------------------------ */

#login-section .loginwBox #member-sec{
    width: 500px;
    height: 200px;
    background-color: #f0f0f0;
    margin: 40px 0 194px;
}
#login-section .loginwBox #member-sec #infoText{
    padding: 20px;
}
#login-section .loginwBox #member-sec h3{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
}
#login-section .loginwBox #member-sec p{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
}
#login-section .loginwBox #member-sec a{
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #6b8025;
    background: #fff;
}
#login-section .loginwBox #member-sec a p{
    font-size: 20px;
    font-weight: 800;
    line-height: 2;
}