@charset "utf-8";
#userBox{
    top: 410px;
}
.fixed{
    position: fixed !important;
    right: 80px !important;
    top: 180px !important;
}
#product-section{}
#product-section .wBox{}
#product-section h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 80px;
}
#product-section #productList{
    height: 1400px;
    margin-bottom: 50px;
}
#product-section #productList .productBox{
    float: left;
    width: 260px;
    height: 350px;
    margin-right: 20px;
}
#product-section #productList .productBox:nth-child(4n){
    margin-right: 0;
}
#product-section #productList .productBox a{
    display: block;
}
#product-section #productList .productBox img{}
#product-section #productList .productBox h3{
    font-size: 20px;
    font-weight: 800;
    margin: 10px 0;
}
#product-section #productList .productBox p{
    font-size: 20px;
    font-weight: 700;
}
#product-section #productList .PB01{}
#product-section #productList .PB02{}
#product-section #productList .PB03{}
#product-section #productList .PB04{}
#product-section #productList .PB05{}
#product-section #productList .PB06{}
#product-section #productList .PB07{}
#product-section #productList .PB08{}
#product-section #productList .PB09{}
#product-section #productList .PB10{}
#product-section #productList .PB11{}
#product-section #productList .PB12{}
#product-section #productList .PB13{}
#product-section #productList .PB14{}
#product-section #productList .PB15{}
#product-section #productList .PB16{}
#product-section #btnBox{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 194px;
}
#product-section #btnBox a{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #d7dc44;
    color: #000;
}
#product-section #btnBox a p{
    padding: 5px;
    font-size: 20px;
}
#product-section #btnBox a:hover,
#product-section #btnBox a.select{
    background-color: #6b8025;
    color: #fff;
}